/*importend fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Outfit:wght@500&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*header*/

header {
    background-color: #2F82C0;
}

#logo {
    text-transform: uppercase;
    font-family: 'josefin sons', sans-serif;
    text-decoration: none;
    color: #E6F4F1;
    font-size: xx-large;
    float: left;
    margin-left: 32px;
}

#header-nav {
    list-style-type: none;
    overflow: hidden;
}

.nav-list {
    float: right;
}

.nav-buttons {
    display: block;
    color: #E6F4F1;
    font-family: 'outfit', sans-serif;
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    font-size: x-large;
}

.nav-buttons:hover {
    border:2px solid #E19E20 ;
}

.nav-buttons:active {
    color:#E19E20
}

/*article*/

#container-div {
    width: 60%;
    margin: auto;
}


#title {
    color: #2F82C0;
    font-family: 'josefin sons', sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin: 6px 0 32px;
}

.section-title {
    font-family: 'outfit', sans-serif;
    color: #E19E20;
    position: relative;
    padding: 2em 0 0 6em;
}

section p {
    font-family: 'Outfit', sans-serif;
    margin: 3em 7em;
    letter-spacing: .5px;
}

.wiki-definition {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #2F82C0;
}

.wiki-definition:link {
    color: #2F82C0;
}

.wiki-definition:visited {
    color: #2A8E43;
}

.wiki-definition:hover {
    font-weight: 800;
}


/*home-image*/

#title-image {
    margin: auto;
    text-align: center;
    font-size: small;
    font-family: 'Outfit', sans-serif;
    color: #2A8E43;
}

/*image inside the article*/

#alphabet-image {
    text-align: center;
    color: #2A8E43;
    font-family: 'Outfit', sans-serif;
    
}

/*youtube video*/

#song-video {
    margin-left: 15%;
    font-family: 'Outfit', sans-serif;
    color: #2A8E43;
}

/*list of links to songs*/

.song-list {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    letter-spacing: .4px;
    margin: 0 0 12px 64px;
    list-style-type: square;
}

.song-list-link {
    text-decoration: none;
    color: #00B6FF;
}

.song-list-link:visited {
    color: #2A8E43;
}

.song-list-link:hover {
    font-weight: 800;
}

/*aside*/

aside {
    margin: auto;
    background-color: #2F82C0;
    width: 220px;
    height: 220px;
    position: fixed;
    left: 81%;
    top: 16%;
    border: 2px;
    border-color: #E19E20;
    border-style: groove;
}

#aside-title{
    font-family: 'outfit', sans-serif;
    color: #E6F4F1;
    padding-left: 12px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

aside li {
    font-family: 'outfit', sans-serif;
    color: #E19E20;
    list-style-type: none;
    letter-spacing: .5px;
    margin: 16px;
    padding-left: 12px;
    text-transform: capitalize;
}

.aside-nav {
    text-decoration: none;
    color: #E19E20;
}

.aside-nav:hover {
    border-bottom: 1px solid #E19E20;
}
.aside-nav:active {color:#E6F4F1;
}

/*footer*/

#footer-div {
    width: 100%;
    background-color: #2F82C0;
    height: 120px;
}

footer a:visited {
    color: white;
}

footer a {
    text-decoration: none;
    color: #e9f5f9;
}
footer a:hover {
    border-bottom: 1px solid #e9f5f9;
    font-weight: 900;
}
/*sources*/

#sources-list {
    position: relative;
    left: 5%;
    top: 12%;
    color: #E19E20;
    font-size: large;
    max-width: 200px;
}


.sources {
    font-size: medium;
    text-decoration: none;
}

/*other pages*/

#other-pages-list {
    position: relative;
    left: 35%;
    bottom: 60%;
    color: #E19E20;
    font-size: large;
    max-width: 200px;
}

.other-pages {
    font-size: medium;
    text-decoration: none;
}

/*social media*/

#social-media-list {
    position: relative;
    color: #E19E20;
    font-size: x-large;
    max-width: 200px;
    left: 65%;
    bottom: 120%;
}

#social-media-list > li {
    display: inline;
    font-size: xxx-large;
}

/*gallery*/

#gallery-title {
    color: #2F82C0;
    font-family: 'josefin sons', sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin: 6px 0 32px;
}

.gallery-fig {
    margin: auto;
    text-align: center;
    font-size: small;
    font-family: 'Outfit', sans-serif;
    color: #2A8E43;
    padding: 3em;
}

/*form*/

#form {
    margin: 8% 8% 10% 50%;
    background-color: #e9f5f9;
    max-width: 500px;
    height: 50%;
    position: absolute;
    padding: 40px;
    color: #2F82C0;
    font-family: 'Outfit', sans-serif;
    border: #E19E20 groove;
}

.text-input {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    height: 32px;
    margin: 8px 0 12px;
    color: #E19E20;
    background-color: #e9f5f9;
    border: 3px solid;
    border-radius: 5px;
}

.text-input:hover {
    color: #2F82C0;
}
form > h3 {
    color: #E19E20;
    margin-bottom: 16px;
    font-family: 'outfit', sans-serif;
}


.checkboxes:hover {
    border:1px solid #E19E20;
}

.submit-button {
    margin: 64px;
    width: 160px;
    height: 52px;
    border-radius: 5px;
    border: solid #E19E20;
    color: #2F82C0;
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
}

.submit-button:hover {
    border: 2px solid #2F82C0;
}

.submit-button:active {
    color: grey;
    border: 2px solid #0a0a0a;
}

/*Media queries*/
@media screen and (max-width:1050px) {
    #form {
        height: 65%;
    }
}

@media screen and (max-width: 800px) {

    aside {
    width: 160px;
    height: 280px;
}

#container-div {
    width: 80%;
    margin-left: 0;
}
#form {
    margin: 10% 10% 0 5%;
}

}

@media screen and (max-width:645px) {
    #footer-div {
        height: 320px;
    }
    #other-pages-list {
        left:5%;
        top: 24%;
    }
    #social-media-list {
        position: absolute;
        bottom: auto; 
    }
    #header-nav {
        clear: left;
        float: left;
        margin-left: 32px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    header {
        height: 180px;
    }

    #container-div {
        margin-top: 10%;
    }

    iframe {
        width: 380px;
        height: 260px;
    }
    
    #song-video {
        margin-left: 25px;
    }

    section p {
        margin: 12px 12px;
        letter-spacing: normal;
    }
    img {
        outline: 0;
        width: 400px;
    }
}
@media screen and (max-width:405px) {
    img {
        width: 250px;
    }
    iframe {
        width: 250px;
    }
    #header-nav {
        margin-left: 0;
        line-height: 0px;
    }
    aside {
        width: 100px;
        height: 280px;
        top: auto;
        left: 75%;
        border: none;

    }
    aside li {
        margin:2px;
        letter-spacing: 1px;
        padding-left: 2px;
    }
    .section-title {
        padding: 0 0 0 5px;
    }
    #form {
        width: 160px;
        margin-top: 112px;
    }

    .submit-button {
        width: 80px;
    }
}
@media screen and (max-width:275px) {
    img {
        width: 180px;
    }
    iframe {
        width: 180px;
        height: 200px;
    }
    #header-nav {
        line-height: 12px;
    }
    #logo{
        margin: 0;
    }
    #social-media-list {
        position: relative;
        left: 5%;
        top: 30%;
    }
    .song-list {
        margin: 0 24px 0 0;
    }
    #form {
        width: 120px;
        height: 600px;
    }
}