/*importend fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Outfit:wght@500&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*header*/

header {
    background-color: #2F82C0;
}

#logo {
    text-transform: uppercase;
    font-family: 'josefin sons', sans-serif;
    text-decoration: none;
    color: #E6F4F1;
    font-size: xx-large;
    float: left;
}

#header-nav {
    list-style-type: none;
    overflow: hidden;
}

.nav-list {
    float: right;
}

.nav-buttons {
    display: block;
    color: #E6F4F1;
    font-family: 'outfit', sans-serif;
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    font-size: x-large;
}

/*article*/

#container-div {
    width: 60%;
    margin: auto;
    margin-top: 16px;
    border: #E19E20 groove;
    background-color: #e9f5f9;
}

section h1 {
    color: #2F82C0;
    font-family: 'josefin sons', sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin: 6px 0 32px;
}

.section-title {
    font-family: 'outfit', sans-serif;
    color: #E19E20;
    position: relative;
    padding: 2em 0 0 6em;
}

section p {
    font-family: 'Outfit', sans-serif;
    margin: 3em 7em;
    letter-spacing: .5px;
}
/*image inside the article*/

#alphabet-image {
    text-align: center;
    color: #2A8E43;
    font-family: 'Outfit', sans-serif;
    
}

/*image*/

#title-image {
    margin: auto;
    text-align: center;
    font-size: small;
    font-family: 'Outfit', sans-serif;
}

/*youtube video*/

#song-video {
    margin-left: 20%;
    font-family: 'Outfit', sans-serif;
    color: #2A8E43;
}

/*list of links to songs*/

.song-list {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    letter-spacing: .4px;
    margin: 0 0 12px 64px;
    list-style-type: square;
}

.song-list-link {
    text-decoration: none;
    color: #00B6FF;
}

/*aside*/

aside {
    margin: auto;
    background-color: #2F82C0;
    width: 220px;
    height: 220px;
    position: fixed;
    left: 81%;
    top: 16%;
    border: 2px;
    border-color: #E19E20;
    border-style: groove;
}

#aside-title{
    font-family: 'outfit', sans-serif;
    color: #3C4856;
    padding-left: 12px;
    text-decoration-line: underline;
}

aside li {
    font-family: 'outfit', sans-serif;
    color: #E19E20;
    list-style-type: none;
    letter-spacing: .5px;
    margin: 16px;
    padding-left: 12px;
}

aside a, a:visited {
    text-decoration: none;
    color: #E19E20;
}